@use '@/assets/styles/variables' as *;

.button {
	width: 100%;
	border-radius: 5px;
	padding: 10px 30px;
	color: $color-background;
	background-color: $color-link;
	border: none;
	outline: none;
	transition: $transition;
	cursor: pointer;

	@include hover-effect {
		background-color: $color-btn-hover;
	}

	&:active {
		background-color: $color-btn-active;
	}
}
