doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Vite + Pug + SCSS
    link(rel="stylesheet" href="/assets/styles/main.scss")
  body
    h1 Hello Vite + Pug
div
  p Test
    span Oops
    script(type="module" src="/assets/js/main.js")