.layout
	.layout__container
		main.page-index
			h1 Отзывы о товаре (2)
			.page-index__row
				.page-index__col
					include ../components/review/review.pug
					+review("Балашова Татьяна", true)
					+review("Иванова Елена", false)
				.page-index__col
					include ../components/review-form/review-form.pug

script(type="module" src="/src/assets/js/main.js")
