@use '@/assets/styles/variables' as *;

.input {
	&__label {
		margin-bottom: 6px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
	}

	&__field {
		display: block;
		width: 100%;
		height: 42px;
		padding: 0 15px;
		border-radius: 5px;
		border: 1px solid $color-border-input;
		background-color: $color-background;
		transition: $transition;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		color: $color-title;
		outline: none;

		&:focus {
			border-color: $color-link;
			box-shadow: 0 0 4px 0 $color-link;
		}

		&::placeholder {
			color: $color-text-secondary;
		}

		&--textarea {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: 140px;
			padding: 15px;
		}
	}

	&--required {
		.input__label {
			&::after {
				content: ' *';
				color: $color-error;
			}
		}
	}

	&--error {
		& .input__field {
			border-color: $color-error;
		}
	}
}
