$sm: 768px;
$lg: 1440px;
$gap: 16px;
$gap-sm: 30px;
$color-title: #1a1a1a;
$color-text-primary: #464646;
$color-text-secondary: #b1b1b1;
$color-accent: #ffb648;
$color-background: #fff;
$color-error: #ea2828;
$color-link: #0d78ff;
$color-border: #e4e2e2;
$color-border-input: #dadce0;
$color-bg-block: #f6f6f6;
$color-bg-form: #f0f0f0;
$color-placeholder: #8b8b8b;
$color-delete: #1b2125;
$transition: 0.3s ease;

@mixin respond($breakpoint) {
	@if $breakpoint == sm {
		@media (min-width: #{$sm}) {
			@content;
		}
	} @else if $breakpoint == lg {
		@media (min-width: #{$lg}) {
			@content;
		}
	} @else {
		@warn "Неизвестный брейкпоинт: #{$breakpoint}";
	}
}

@mixin hover-effect {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}
